<!-- A partial to be overwritten by the user. Simply place a custom_body.html into your local /layouts/partials-directory -->

<a class="badge-link" href="https://ate.bearblog.dev" target="_blank">
  <img alt="Ate Bear Blog Badge" src="https://custom-icon-badges.demolab.com/badge/Ate_Bear_Blog-Badge?style=for-the-badge&logo=ate-bear-blog&labelColor=fbfbf6&color=white">
</a>

<a class="badge-link" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
  <img alt="CC BY-NC-ND" src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc-nd.svg">
</a>

<a class="badge-link" href="https://github.com/atebear/atebear" target="_blank">
  <img alt="Open Source Love Badge" src="https://badges.frapsoft.com/os/v2/open-source.svg?v=103">
</a>
